#minhaDiv {
  position: absolute;
  top: 0; left:0; 
  background: -webkit-gradient(linear, left top, right top, from(#8685c1), to(#d870c1)) no-repeat;
  background: -moz-linear-gradient(left top, #8685c1, #d870c1);
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#8685c1', EndColorStr='#d870c1'); 
}

.menu-opcoes {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-opcoes ul li {
 
  font-size: 15px;
  display: inline;
  margin-left: 20px;
  background-color:white;
}

.navbar{
	background-color: white;
}
.menu-opcoes a { 
    background-color: white;
    color: #8585c1;
    text-decoration: none;
    padding: 2px 10px;
    display: inline-block;
}

.menu-opcoes a:hover {
   background-color:#8585c1;
    color: white;
}

.container {
  margin: 0 auto;
  width: 940px;
}

header {
  position: relative;
}

body {
	background-color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
color: #8585c1;
}

p {
  color: gray;
  padding-bottom: 25px;
  padding-top: 20px;
}
.center {
	float:none;
	display:block;
	margin-left:50px;
	margin-right:auto;
	text-align: center;
}

.botao{
   
    background-color: #8585c1;
    float: none;
    color: white;  
}

.botao:hover{
    color: white;
    background-color: #8585c1;

}

.btn-default:active{
  color: white;
  background-color: #8585c1;
}

.btn-default{
	border-color: #8585c1;
}

.btn-default:hover{
	border-color: #8585c1;
  color: #8585c1;
}

.navbar-bottom{
    background-color: #8585c1;
    text-align: center;
    color: white;
}

footer {
  clear: both;
  padding: 20px 0;
}

footer .navbar-bottom {
  position: absolute;
  width: 100%;
  border-radius: 0;
}